@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "InterVariable";
  src: url("./fonts/Inter-VariableFont.ttf") format("truetype");
}

body {
  @apply transition-colors duration-300; /* Smooth background transition */
}

body {
  margin: 0;
  padding: 0;
  font-family: "InterVariable", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#webgazerVideoContainer {
  z-index: 1000;
}

#webgazerVideoFeed {
  border: 2.5px solid grey;
  border-radius: 1rem;
  background: grey;
}
